<a href="https://colab.research.google.com/github/ulisess45/daa_2021_1/blob/master/21octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def ejemplo1( n ):
    c = n + 1
    d = c * n
    e = n * n                                        #4
    total = c + e - d
    print(f"total={ total }")
ejemplo1( 99999 )

In [ ]:
def ejemplo2( n ):
    contador = 0
    for i in range( n ) :
        for j in range( n ) :                         #1+n^2
            contador += 1
    return contador

ejemplo2( 20)

In [ ]:
def ejemplo3( n ): # n=4
    x = n * 2 # x = 8
    y = 0   # y = 0
    for m in range( 100 ): #3                       #102
        y = x - n   # y = 4
    return y

ejemplo3(1000)

In [ ]:
def ejemplo4( n ):
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y                                      #3
    return z

ejemplo4(9)

In [ ]:
def ejemplo5( x ):
    n = 10
    for j in range( 0 , x , 1 ):              #1+x
        n = j + n
    return n

ejemplo5(10)

In [ ]:
def ejemplo6( n ):
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):                                            #2+n^3
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    return suma
print(ejemplo6( 50 ))

In [2]:
from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
ejemplo6( 50 )

Tiempo transcurrido: 0.0174264908 segundos.

125000