<a href="https://colab.research.google.com/github/ulisess45/daa_2021_1/blob/master/26octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from time import time
def ejemplo1( n ):
    start_time = time()
    c = n + 1
    d = c * n
    e = n * n                                        #4
    total = c + e - d
    print(f"total= { total }")
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
for entrada in range(100,1100,100):
  ejemplo1(entrada)

In [ ]:
from time import time
def ejemplo2( n ):
    start_time = time()
    contador = 0
    for i in range( n ) :
        for j in range( n ) :                         #1+n^2
            contador += 1
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return contador

for entrada in range(100,1100,100):
  ejemplo2(entrada)

In [ ]:
from time import time
def ejemplo3( n ): # n=4
    start_time = time()
    x = n * 2 # x = 8
    y = 0   # y = 0
    for m in range( 100 ): #3                       #102
        y = x - n   # y = 4
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return y

for entrada in range(100,1100,100):
  ejemplo3(entrada)

In [ ]:
from time import time
def ejemplo4( n ):
    start_time = time()
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)                                      #3
    return z
for entrada in range(100,1100,100):
  ejemplo4(entrada)

In [ ]:
from time import time
def ejemplo5( x ):
    start_time = time()
    n = 10
    for j in range( 0 , x , 1 ):              #1+x
        n = j + n
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return n
for entrada in range(100,1100,100):
  ejemplo5(entrada)

In [ ]:
def ejemplo6( n ):
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):                                            #2+n^3
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    return suma
print(ejemplo6( 50 ))

In [ ]:
from time import time
def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for entrada in range(100,1100,100):
  ejemplo6(entrada)

In [ ]:
def ejemplo7( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
    return count
    # 1 + 25 n^2

In [ ]:
def ejemplo7_2( n ):
    count = 1
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
            for k in range( n ):
                count += 1
    return count # 1 + 25n^2 +25n^2 =1+50n^2
ejemplo7_2(3)

In [ ]:
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
    total = 0
    for index in range(len(numeros)):
        total = numeros[index]
    return total
ejemplo8(numeros)
#T(n)=1+n(generico) o 7 (especifico)
#O(n)=n

In [ ]:
def ejemplo9(  n ):
    contador = 0
    basura = 0
    for i in range( n ) :
        contador += 1
    for j in range( n ) :
        contador += 1
    basura = basura + contador
    return contador

print(ejemplo9( 5 ))
#3+2n

In [ ]:
def ejemplo10( n ):
    count = 0
    for i in range( n ) :
        for j in range( i+1 ) :
            count += 1
    return count
  #T(n)=1+(n^2+n)/2
  """
(n^2-n)/2(sin +1 en el i)
n= 3
000
n00 <-- aqui empieza el for interno
nn0 <--- aqui termina el for interno
nnn
n = 4
0000
n000 <-- aqui empieza el for interno
nn00
nnn0 <--- aqui termina el for interno
nnnn

n =5
00000
n0000 <-- aqui empieza el for interno
nn000
nnn00
nnnn0 <--- aqui termina el for interno
nnnnn
"""

In [ ]:
def ejemplo11( n ):
    count = 0
    i = n
    while i > 1 :
        count += 1
        i = i // 2 
    return count
print(ejemplo11(16))
# T(n) =  2 + (2 Log 2 n

In [ ]:
def ejemplo12( n ):
    contador = 0
    for x in range(n):
        contador += ejemplo11(x)
    return contador
    #1+n(2+2log2(n))
def ejemplo12_bis( n=5 ):
  contador = 0
  contador = contador + ejemplo11(0) # 0
  contador = contador + ejemplo11(1) # 0
  contador = contador + ejemplo11(2) # 1
  contador = contador + ejemplo11(3) # 1
  contador = contador + ejemplo11(4) # 2
  return contador
ejemplo12_bis( 5 )

In [ ]:
def ejemplo13( x ):
    bandera = x
    contador = 0
    while( bandera >= 10):
        print(f" x = { bandera } ")
        bandera /= 10
        contador = contador + 1
    print(contador)
# T(x) = log10 x +1
ejemplo13( 1000 )

In [ ]:
def ejemplo14( n ):
    y = n
    z = n
    contador = 0
    while y >= 3: #3
        y /= 3  # 1
        contador += 1  # cont =3
    
    while z >= 3: #27
        z /= 3
        contador += 1
    return contador
print(ejemplo14( 27 ))
#t()=3+2log(n)

In [ ]:
def ejemplo15( n ): 
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
            
    while n > 1 :
        contador += 1
        n /= 2
    return contador

print(ejemplo15(10))
#t()1 + n^2 + log2(n)